.item-message {
  width: 100%;
  min-height: 300px;
  border: 1px dotted rgba($black, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba($black, 0.5);
  font-family: $theme-font;
  font-size: 18px;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeUp;
}
