.category-info-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid rgba($black, 0.3);
  height: 100%;

  .info-text {
    color: rgba($black, 0.5);
    font-size: 18px;
    font-family: $theme-font;
    margin: 0 0 10px;

    .stock {
      color: rgba($black, 0.6);
      font-size: 16px;
    }

    &.title {
      font-size: 20px;
    }

    &.dark {
      color: rgba($black, 0.9);
    }

    &.error {
      color: $error;

      .stock {
        color: $error;
      }
    }
  }
}
