@font-face {
  font-family: 'AvertaDemoPE-Regular';
  src: url('/fonts/AvertaDemoPE-Regular.eot');
  src: url('/fonts/AvertaDemoPE-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/AvertaDemoPE-Regular.svg#CircularStd-Black') format('svg'),
       url('/fonts/AvertaDemoPE-Regular.ttf') format('truetype'),
       url('/fonts/AvertaDemoPE-Regular.woff') format('woff'),
       url('/fonts/AvertaDemoPE-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
