.page-container {
  max-width: 1140px;
  padding: 80px 15px 15px;
  @include media-breakpoint-up(md) {
    padding: 50px 15px;
  }
}

.clickable {
  position: relative;
  display: inline-block;
  color: $primary-color-two;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;

  &:before {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    transition: 0.5s;
    background: $primary-color-two;
  }

  &:hover {
    text-decoration: none;
    color: $primary-color-two;

    &:before {
      width: 100%;
    }
  }

  &:focus {
    outline: none;
  }
}
