// Colours
//////////////////////////////////////////////////////////
$primary-color-one        :#6cc4d4;
$primary-color-two        :#9fcc3b;

$white                    :#fff;
$black                    :#000;
$error                    :#DF1642;

// Fonts
//////////////////////////////////////////////////////////
$theme-font: 'AvertaDemoPE-Regular';
