.category-item {

  .item-head {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;

    .item-title {
      margin: 0 0 30px;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: fadeIn;
    }

    .item-image {
      max-width: 100px;
      animation-duration: 0.5s;
      animation-delay: 0.1s;
      animation-fill-mode: both;
      animation-name: fadeIn;
    }
  }

  .item-card-row {
    .item-card-wrapper {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: fadeUp;
      margin: 0 0 30px;
    }

    @for $i from 1 to 20 {
      .item-card-wrapper:nth-child(#{$i}) {
        animation-delay: $i * 0.05s;
      }
    }
  }
}
