.category-list-wrapper {
  position: fixed;
  z-index: 100;
  background: $white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 15px 15px 65px;
  transition: 0.3s;
  transform: translateY(calc(-100% + 50px));
  @include media-breakpoint-up(md) {
    position: relative;
    padding: 0;
    top: auto;
    left: auto;
    height: auto;
    transform: translateY(0);
  }

  .category-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    @include media-breakpoint-up(md) {
      overflow: unset;
    }

    .list-item {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 0 15px;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: fadeUp;

      .item-button {
        padding: 10px;
        width: 100%;
        background: $primary-color-one;
        color: $white;
        font-size: 18px;
        font-family: $theme-font;
        border: none;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          background: $primary-color-two;
        }

        &:focus {
          outline: none;
        }

        &.active {
          background: $primary-color-two;
        }
      }

      .clickable {
        font-size: 20px;
      }
    }

    @for $i from 1 to 20 {
      .list-item:nth-child(#{$i}) {
        animation-delay: $i * 0.05s;
      }
    }
  }

  .close-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: $primary-color-two;
    border: none;
    color: $white;
    font-family: $theme-font;
    font-size: 20px;
    @include media-breakpoint-up(md) {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }

  &.active {
    transform: translateY(0);
  }
}
