.water {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: $primary-color-one;
  border-radius: 50%;
  box-shadow: inset 0 0 30px 0 rgba($black, .5), 0 4px 10px 0 rgba($black, .5);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $theme-font;
  color: rgba($black, 0.6);

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    top: -150px;
    background-color: $white;
  }

  &:before {
    border-radius: 45%;
    background: rgba($white, .7);
    animation: wave 5s linear infinite;
  }

  &:after {
    border-radius: 35%;
    background: rgba($white, .3);
    animation: wave 5s linear infinite;
  }
}
